*{
    margin:0;
    padding:0;
}

body{
    background-color: hsl(185, 75%, 39%);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -18em -32em, right -10em bottom -41em;
    width:100%;
    height:100%;
    font-size: 18px;
    font-family:Kumbh Sans;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.profile-card{
    text-align:center;
    width:330px;
    height:350px;
    border:2px;
    background-image: url('images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: 330px 130px;
    background-color: white;
    border-radius:15px;
}

.profile{
    border-radius: 50%;
    margin-top:80px;
    border:4px solid white;
    margin-bottom:15px;
}

p{
    color:hsl(229, 23%, 23%);
    font-weight:700;
    padding-bottom:10px;
}

span{
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}

.location{
    color:hsl(227, 10%, 46%);
    font-size:13px;
    font-weight: 400;
    padding-bottom:15px;
    border-bottom:1px solid rgba(128,128,128,0.2);
}

table{
    margin: 15px 20px;
}

th,td{
    padding: 0px 15px;
}

.table-head{
    color:hsl(229, 23%, 23%);
}

.table-data{
    color:hsl(227, 10%, 46%);
    font-weight:400;
    font-size:14px;
}

footer{
    position: fixed;;
    bottom:0;
    margin:10px;
}



